__pycache__
.venv
.\#*
.Rhistory
.RData
Rplots.pdf
instances/raw/R/*.bdd
instances/raw/N/*.bdd
instances/raw/*.bdd
tmp
run_logs/simple_problem.gv
run_logs/simple_avail.gv
run_logs/simple_covering.gv
run_logs/toy_problem.gv
run_logs/problem_dia.gv
run_logs/toy_covering.gv
run_logs/toy_avail.gv
testing/showfunc.dot.*
.ipynb_checkpoints/
gurobi.log
TODOs.org_archive
*.drawio.bkp
*.bkp
reports/2022-05-10_Darkcloud/submitted.pdf
tests/BDD_load_save.bdd
TAGS